#wall .tag-1 {
	display:none;
}

 #wall #tag-2:nth-child(2) {
	display:none;
}

#wall #tag-3.slick.wicked  {
	display:none;
}

.parent #tag-4 {
	display:none;
}


#wall .parent {
	display:none;
}

/*tag 6*/{
	display:none;
}

/*tag 7*/{
	display:none;
}

